* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    width: 80px;
}

.title {
    margin-top: 10px;
}

.name {
    font-family: 'Fredericka the Great', cursive;
    font-size: 20px;
    color: rgb(7, 55, 110);
}

.job {
    text-align: end;
}

header img{
    width: 100%;
}

.motivation {
    font-family: 'Faster One', cursive;
    font-size: 20px;
    color: rgb(7, 55, 110);
    text-align: center;
    margin-top:10px;
}

@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
    .name {
        font-size: 24px;
    }    
    .motivation {
        font-size: 24px;
    }    
}

@media (min-width: 600px) {
    body {
        font-size: 16px;
    }
    .name {
        font-size: 28px;
    }    
    .motivation {
        font-size: 28px;
    } 
}

@media (min-width: 1080px) {
    header {
        width: 1080px;
        margin: auto;
    }
}